name: Build Dylib

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Compile Dylib
      run: |
        make

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: DeviceRotator.dylib
        path: DeviceRotator.dylib
